
body, h1, h2, h3, p, ul, li {
    box-sizing: border-box;
    font-family: 'Kay Pho Du','Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: ;}
    
    div img {
        display: block;
        width: 100%;
    }
    .flex-container {
        display: flex;
        max-width: 992px;
        margin: auto;
        width: 100%;  
        border: solid 1px red;
    }
    
    .text-menu h1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    font-family: 'Kay Pho Du', serif;
    font-weight: 700;
    font-size: 2em;
}

header {
    display: flex;
    background-color: #04ab9d;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

header .menu .list-itens {
    display: flex;
    align-items: end;
    max-width: 450px;
    width: 100%;
}

.list-itens li a {
    color: rgb(255, 255, 255);
    font-family: 'Kay Pho Du', serif;
    font-weight: 700;
    font-size: 1em;
}

header .menu {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1300px;
   
}

#home {
    height: 110vh;
    align-items: center;
    justify-content: space-between;   
}

.home .texto-home {
    min-height: 200px;

}

.texto-home h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 30px;
    width: 190px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
    }    

#quem-somos h2 {
    display: flex;
    font-size: 2rem;
    color: #122A57;
    margin-bottom: 0.625rem;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 2px;
    margin-right: 5px;
    background-color: #04ab9d;
    position: relative;
}

#quem-somos p {
    margin-bottom: 0.500rem;
    width: 100%;
}

#quem-somos img {
    max-width: 80rem;
}

/* ##################### */

.f-container-servicos {
    background-color: #122A57;
    height: 460px;
    margin-top:10px;
}

#servicos h2 {
    color: #fff;
    font: size 32px;
    margin-bottom: 90px;
}

.list-servicos {
    display: flex;
    justify-content: space-around;
    height: 100vh;    
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico a {
    width: 220px;
    height: 5000px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: #122A57;
    font-size: 12px;
    font-weight: 700;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;z

}

.item-servico img {
    width: 80%;
    margin: auto;
}

/* ##################### */
#saibamais{
    height: 100vh;
    align-items: center;
}

.fc-saibamais .saibamais{
    background-color: #04ab9d;
}

.fc-planos {
    flex-direction: column-reverse;
    min-height: 50vh;
    border: solid 1px rgb(255, 0, 234);
}

.list-planos {
    display: flex;
    align-items: flex-end;
}

.item-plano {
    flex: 1;
    border: 2px solid #122A57;
    margin-right: 20px;
    padding: 10px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #0e1b32;
    margin-right: 5px;
}



.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(140, 206, 247)71, 171;
    background-color: #c3c4c7;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 13.3rem;
    height: 0.1rem;
    background-color: #05648d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    background-color: rgba(103, 130, 133, 0.393);
}

.input-box input:hover {
    background-color: #80e0fdab;
}

.input-box input:focus-visible {
    outline: 1px solid #e60505;
}



.input-box input::placeholder {
    color: #000000be;
}



.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #4fbfb272;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #0afde9;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #030000d2;
}

#social{
    display: flex;
    flex-direction: row;
}

.social-icones .medias{
    width: 1rem;    
    background-color: #056b63;
    align-items: end;    
}






@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    }

    
