body, h1, h2, h3, p, ul, li {
    box-sizing: border-box;
    font-family: 'Kay Pho Du', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: ;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    border: solid 2px red;
}

.text-menu h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Kay Pho Du', serif;
    font-weight: 700;
    font-size: 2em;
}

header {
    display: flex;
    background-color: #04ab9d;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

header .menu {
    justify-content: space-around;
}

.list-items li a {
    color: #fff;
}

#home {
    height: 110vh;
    align-items: center;
    justify-content: space-between;
}

.home .texto-home {
    min-height: 200px;

}

.texto-home h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    padding: 2px;
    border-radius: 30px;
    width: 190px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;

}

#quem-somos h2 {
    display: flex;
    font-size: 2rem;
    color: #122A57;
    margin-bottom: 0.625rem;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 2px;
    margin-right: 5px;
    background-color: #04ab9d;
    position: relative;
}

#quem-somos p {
    margin-bottom: 0.500rem;
    width: 100%;
}

#quem-somos img {
    max-width: 80rem;
}

/* ##################### */

.container-externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico a {
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: #122A57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}


.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img {
    width: 80%;
    margin: auto;
}

/* ##################### */
#saiba-mais {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 100vh;
    align-items: center;
    color: #04ab9d;
    border: dotted 2px yellow;
}

#saiba-mais .titulo {
    color: rgb(0, 183, 255);
}


.texto-saibamais {
    color: black;
    width: 90%;
}

#saiba-mais .texto-saibamais {
    margin-bottom: 0.500rem;
    width: 70%;
}

#saiba-mais img {
    max-width: 60rem;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}

.form-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(140, 206, 247)71, 171;
    background-color: #c3c4c7;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 13.3rem;
    height: 0.1rem;
    background-color: #05648d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    background-color: rgba(103, 130, 133, 0.393);
}

.input-box input:hover {
    background-color: #80e0fdab;
}

.input-box input:focus-visible {
    outline: 1px solid #e60505;
}



.input-box input::placeholder {
    color: #000000be;
}



.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #4fbfb272;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #0afde9;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #030000d2;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #abbab8;
}

#social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    list-style-type: none;
    width: 5rem;
    height: 3rem;
}

#social .medias {
    /* border: solid 2px greenyellow; */
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

#social ul.social li:hover {
    transition: 0.3s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



/* mobile */
@media(max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home .texto-home {
        width: 100%;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servico img {
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    #saiba-mais {
        max-width: 100%;
        /* width: 100%; */
    }
}